<a href="https://colab.research.google.com/github/SrijaG29/libraries-practice/blob/main/Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Numpy**

-> It is a **multidimensional array** library.

-> We can use numpy to store all kinds of data.

In [ ]:
#importing numpy
import numpy as np

In [ ]:
#shapes of an array
# a = np.array([1,2,3])
# a = np.array([[1,2,3],[4,5,6]],dtype='int32')
a = np.array([[[1,2,3],[4,5,6]],[[1,2,3],[1,2,3]]])
# print(a.shape)

# size of an array
print(a.size)

# items size means the size based on the datatype size like
# int16 = 2 bytes
# int32 = 4 bytes
# int64 = 8 bytes
print(a.itemsize)

# to get total size
print(a.nbytes)

12
8
96

In [ ]:
#array creation using numpy
a = np.array([[1,2,3,4,5,6],[7,8,9,10,11,12]])
b = np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])
# print(a)

# get specific element (r,c) 1D array
# a[1,0]

# get sepecific row
# a[0,:]

# get sepecific column
# a[:,0]

# a[0][1]

# get specific element 2D array
# b[1][0][0]

# np.identity(3)

arr = np.array([[1,2,3,4,5]])
c = np.repeat(arr,3,axis=0)
print(c)

[[1 2 3 4 5]
 [1 2 3 4 5]
 [1 2 3 4 5]]

In [ ]:
# f = np.ones((5,5))
# print(f)

# q = np.zeros((3,3))
# q[1,1] = 9
# print(q)

# f[1:4,1:4] = q

# print(f)

# np.full((2,3),7) (we can generate matrix of 7 with 2r and 3c)
# np.full_like(a,7) (we can generate matrix of 7 with the size of a's matrix)
# np.random.rand(2,2) (we can generate matrix of random numbers with 2r and 2c)
# np.random.random_sample(a.shape) (we can generate matrix of random numbers with 2r and 2c)
# np.identity(3)

array([[0.31902812, 0.20343817, 0.65914742, 0.81643286, 0.98875413,
        0.99598072],
       [0.95170886, 0.53114195, 0.44048222, 0.94792958, 0.83335502,
        0.46074984]])

In [ ]:
# repeating teh values inside an array
a = np.array([1,2,3,4])
f = np.repeat(a,2,axis=0)
print(f)


a = np.array([[1],[2],[3],[4]])
f = np.repeat(a,2,axis=1)
print(f)

[[1 1]
 [2 2]
 [3 3]
 [4 4]]

In [ ]:
a = np.array([1,2,3],dtype = 'int32')
# a + 2
# a - 2
# a * 2
# a / 2
# a ** 2 (root's)
# np.sin(a)
# np.cos(a)

array([0.5, 1. , 1.5])

In [ ]:
a = np.array([1,2,3])
b = np.array([4,5,6])
# a + b
# a - b
# a * b
# a / b

array([ 4, 10, 18])

In [ ]:
# matrix multiplication
a = np.ones((2,3))
b = np.full((3,2),2)
np.matmul(a,b)

array([[6., 6.],
       [6., 6.]])

In [ ]:
# determinent finding of a matrix which is a single numerical value which is used when
# calculating the inverse or when solving systems of linear equations

c = np.identity(3)
np.linalg.det(c)

1.0

In [ ]:
# concatenate
a = np.array([[1,2,4],[3,4,5]])
b = np.array([[5,6],[7,8]])
# print(np.concatenate((a,b),axis=0))
# np.ndim(a)
# np.shape(a)
# np.size(a)

# reshape  for reshape we need to have the same number of elements in the previous array
# a = np.arange(7)
# print(a)

c = a.reshape(3,2)
c

array([[1, 2],
       [4, 3],
       [4, 5]])

In [ ]:
# converting 1d array to 2d array
a = np.array([1,2,3,4,5,6,7])
# print(a)
# np.shape(a)

# a1 = a[np.newaxis, :]  row_vector
# a1.shape => (1,7)

#a1 = a[:,np.newaxis]  #column_vector
# a1.shape # => (7,1)

(7, 1)

In [ ]:
# indexing and slicing
a = np.array([1,2,3,4,5,6,7])
# a[1] # 2
# a[1:4] # 2,3,4
# a[1:] # 2,3,4,5,6,7
# a[-2:] # 6,7

b = np.nonzero(a < 5)
print(b)

(array([0, 1, 2, 3]),)

In [ ]:
# vstack  it will concatenate 2 array 1 by one like 2 diff rows in one array
a = np.array([1,2,3])
b = np.array([4,5,6])

# print(np.vstack((a,b))) [[1,2,3],[4,5,6]]

# hstack it will concatenate 2 array in 1 one array side by side like in 1 row
# print(np.hstack((a,b))) #[1,2,3,4,5,6]

# rearange

# a = np.arange(1,25).reshape(3,8)
a = np.arange(1,25).reshape(2,12)
# a = np.arange(1,26).reshape(5,5)
# a

# hsplit it can be used to divide array into equal multiple array's
# np.hsplit(a,4)

# unique values
b = np.array([1,2,3,4,1,2,3,4,7])
# np.unique(b)

unique_val , index_val = np.unique(b,return_index = True)
# print(index_val) # here return_index will only return the val of index if the elemnet is unique
#  op 1,2,3,4,7

unique_val , occurance_val = np.unique(b,return_counts=True)
# print(occurance_val) #here return_count will only return the count of the ele repeated
# op 2,2,2,2,1

# for 2d array
c = np.array([[1,4,3,4],[7,6,7,8],[1,4,3,4]])
# np.unique(c)
# np.unique(c,return_index=True)
unique_row, index_val, occurencane_val = np.unique(c,axis=0,return_index=True,return_counts=True)
# print(unique_row)
# print(index_val)
print(occurance_val)

[[1 4 3 4]
 [7 6 7 8]]
[0 1]
[2 2 2 2 1]

In [ ]:
#transpose

# a = np.array([[1,2,3],[4,5,6],[7,8,9]])
# np.transpose(a)

# reverse 1D array

# a = np.array([1,2,3,4,5,6,7])
# b = np.flip(a)
# print(b)

# Reversing a 2D array
a = np.array([[1,2,3],[4,5,6]])
# np.flip(a)

# reverse only the rows
# np.flip(a,axis=0)

# reverse only columns
# np.flip(a,axis=1)

# reverse the contents of the row at index position 1
# np.flip(a[1]) #output array([6, 5, 4])

# reverse the contents of the column at index 1
# np.flip(a[:,1])

# flatten
a.flatten() #array([1, 2, 3, 4, 5, 6])

array([1, 2, 3, 4, 5, 6])

In [ ]:
a = np.array([1,2,3,4,5,6,2,7,7,7])
# np.mean(a)
np.median(a)

4.5

**Numpy problems:**


---


-> calculate summary statistics.

1.   mean, median, mode of totalspend.
2.   mean, median, mode of frequency.
3.   mean, median, mode of avg spend per visit.

In [ ]:
np.random.seed(42)
customer_data = np.random.rand(100,3) * [1000,50,200]
customer_ids = np.arange(1,101).reshape(-1,1)
customer_data = np.hstack((customer_ids,customer_data))

customer_data

array([[1.00000000e+00, 3.74540119e+02, 4.75357153e+01, 1.46398788e+02],
       [2.00000000e+00, 5.98658484e+02, 7.80093202e+00, 3.11989041e+01],
       [3.00000000e+00, 5.80836122e+01, 4.33088073e+01, 1.20223002e+02],
       [4.00000000e+00, 7.08072578e+02, 1.02922471e+00, 1.93981970e+02],
       [5.00000000e+00, 8.32442641e+02, 1.06169555e+01, 3.63649934e+01],
       [6.00000000e+00, 1.83404510e+02, 1.52121121e+01, 1.04951286e+02],
       [7.00000000e+00, 4.31945019e+02, 1.45614570e+01, 1.22370579e+02],
       [8.00000000e+00, 1.39493861e+02, 1.46072324e+01, 7.32723687e+01],
       [9.00000000e+00, 4.56069984e+02, 3.92587981e+01, 3.99347564e+01],
       [1.00000000e+01, 5.14234438e+02, 2.96207284e+01, 9.29008254e+00],
       [1.10000000e+01, 6.07544852e+02, 8.52620618e+00, 1.30103186e+01],
       [1.20000000e+01, 9.48885537e+02, 4.82816017e+01, 1.61679470e+02],
       [1.30000000e+01, 3.04613769e+02, 4.88360570e+00, 1.36846605e+02],
       [1.40000000e+01, 4.40152494e+02, 6.10191174e+00, 9.90353820e+01],
       [1.50000000e+01, 3.43885211e+01, 4.54660201e+01, 5.17559963e+01],
       [1.60000000e+01, 6.62522284e+02, 1.55855538e+01, 1.04013604e+02],
       [1.70000000e+01, 5.46710279e+02, 9.24272278e+00, 1.93916926e+02],
       [1.80000000e+01, 7.75132823e+02, 4.69749471e+01, 1.78965470e+02],
       [1.90000000e+01, 5.97899979e+02, 4.60937118e+01, 1.76985004e+01],
       [2.00000000e+01, 1.95982862e+02, 2.26136445e+00, 6.50660662e+01],
       [2.10000000e+01, 3.88677290e+02, 1.35674516e+01, 1.65747502e+02],
       [2.20000000e+01, 3.56753327e+02, 1.40467255e+01, 1.08539217e+02],
       [2.30000000e+01, 1.40924225e+02, 4.01098490e+01, 1.49101287e+01],
       [2.40000000e+01, 9.86886937e+02, 3.86122385e+01, 3.97431363e+01],
       [2.50000000e+01, 5.52211712e+00, 4.07730714e+01, 1.41371469e+02],
       [2.60000000e+01, 7.29007168e+02, 3.85635173e+01, 1.48089303e+01],
       [2.70000000e+01, 3.58465729e+02, 5.79345298e+00, 1.72620685e+02],
       [2.80000000e+01, 6.23298127e+02, 1.65449012e+01, 1.27116701e+01],
       [2.90000000e+01, 3.10982322e+02, 1.62591661e+01, 1.45921236e+02],
       [3.00000000e+01, 6.37557471e+02, 4.43606371e+01, 9.44429850e+01],
       [3.10000000e+01, 1.19594246e+02, 3.56622394e+01, 1.52157010e+02],
       [3.20000000e+01, 5.61277198e+02, 3.85483590e+01, 9.87591193e+01],
       [3.30000000e+01, 5.22732829e+02, 2.13770509e+01, 5.08382535e+00],
       [3.40000000e+01, 1.07891427e+02, 1.57145928e+00, 1.27282082e+02],
       [3.50000000e+01, 3.14355981e+02, 2.54285346e+01, 1.81513295e+02],
       [3.60000000e+01, 2.49292229e+02, 2.05191462e+01, 1.51110228e+02],
       [3.70000000e+01, 2.28798165e+02, 3.84899549e+00, 5.79502906e+01],
       [3.80000000e+01, 1.61221287e+02, 4.64848826e+01, 1.61624076e+02],
       [3.90000000e+01, 6.33403757e+02, 4.35730295e+01, 1.60734415e+02],
       [4.00000000e+01, 1.86570059e+02, 4.46279499e+01, 1.07868448e+02],
       [4.10000000e+01, 8.07440155e+02, 4.48045650e+01, 6.36006950e+01],
       [4.20000000e+01, 1.10051925e+02, 1.13967581e+01, 8.54215577e+01],
       [4.30000000e+01, 8.18014766e+02, 4.30365292e+01, 1.39042611e+00],
       [4.40000000e+01, 5.10747303e+02, 2.08705502e+01, 4.44215621e+01],
       [4.50000000e+01, 1.19865367e+02, 1.68807586e+01, 1.88581941e+02],
       [4.60000000e+01, 3.23202932e+02, 2.59395311e+01, 1.40603792e+02],
       [4.70000000e+01, 3.63629602e+02, 4.85891041e+01, 1.92489459e+02],
       [4.80000000e+01, 2.51782296e+02, 2.48624253e+01, 6.01756620e+01],
       [4.90000000e+01, 2.84840494e+02, 1.84434737e+00, 1.21912867e+02],
       [5.00000000e+01, 5.02679023e+02, 2.57393756e+00, 5.57292928e+01],
       [5.10000000e+01, 9.08265886e+02, 1.19780945e+01, 2.89789744e+01],
       [5.20000000e+01, 4.89452760e+02, 4.92825227e+01, 4.84110543e+01],
       [5.30000000e+01, 6.72135547e+02, 3.80809808e+01, 4.75275088e+01],
       [5.40000000e+01, 7.28216349e+02, 1.83891566e+01, 1.26461166e+02],
       [5.50000000e+01, 6.33529711e+02, 2.67887342e+01, 1.80579540e+01],
       [5.60000000e+01, 8.35302496e+02, 1.60390032e+01, 3.73037021e+01],
       [5.70000000e+01, 4.07751416e+01, 2.95446472e+01, 1.35512872e+02],
       [5.80000000e+01, 1.65878289e+01, 2.56046529e+01, 4.52991550e+01],
       [5.90000000e+01, 6.45172790e+02, 8.71832145e+00, 1.38187548e+02],
       [6.00000000e+01, 3.86735346e+02, 4.68364994e+01, 2.75041888e+01],
       [6.10000000e+01, 3.41066351e+02, 5.67367606e+00, 1.84938724e+02],
       [6.20000000e+01, 8.77339353e+02, 1.28970814e+01, 1.31996809e+02],
       [6.30000000e+01, 8.17222200e+02, 2.77600406e+01, 1.05930116e+02],
       [6.40000000e+01, 2.41852291e+02, 4.65513839e+00, 1.79443152e+02],
       [6.50000000e+01, 9.00418057e+02, 3.16550729e+01, 6.78059582e+01],
       [6.60000000e+01, 3.49209575e+02, 3.62977839e+01, 1.79422052e+02],
       [6.70000000e+01, 8.87086424e+02, 3.89937773e+01, 1.28406329e+02],
       [6.80000000e+01, 8.41399650e+01, 8.08143570e+00, 1.79710838e+02],
       [6.90000000e+01, 6.06429060e+02, 4.59852581e-01, 2.02943086e+01],
       [7.00000000e+01, 6.63501769e+02, 2.53079192e-01, 3.21616103e+01],
       [7.10000000e+01, 5.48733789e+02, 3.45947599e+01, 1.30392252e+02],
       [7.20000000e+01, 2.24269309e+02, 3.56089611e+01, 4.74498175e+01],
       [7.30000000e+01, 3.25399698e+02, 3.73245703e+01, 1.29926580e+02],
       [7.40000000e+01, 8.49223410e+02, 3.28806446e+01, 1.13661721e+02],
       [7.50000000e+01, 9.36747678e+01, 1.83857902e+01, 5.30404735e+01],
       [7.60000000e+01, 2.43989643e+02, 4.86505277e+01, 7.86195449e+01],
       [7.70000000e+01, 8.92046555e+02, 3.15569313e+01, 1.58962261e+02],
       [7.80000000e+01, 5.02637093e+02, 2.88451942e+01, 9.85035388e+01],
       [7.90000000e+01, 1.95242988e+02, 3.61226058e+01, 5.61544725e+01],
       [8.00000000e+01, 2.43159664e+01, 3.22736148e+01, 3.54221359e+01],
       [8.10000000e+01, 9.40458584e+02, 4.76964289e+01, 1.82972878e+02],
       [8.20000000e+01, 3.70158700e+02, 7.72830826e-01, 1.85663713e+02],
       [8.30000000e+01, 4.28184148e+02, 4.83327410e+01, 1.92723995e+02],
       [8.40000000e+01, 8.53009455e+02, 1.47224446e+01, 7.70195457e+01],
       [8.50000000e+01, 8.51136672e+02, 1.58461003e+01, 3.38985493e+01],
       [8.60000000e+01, 5.56801262e+02, 4.68077387e+01, 1.39205959e+02],
       [8.70000000e+01, 5.70061170e+02, 4.85882469e+00, 1.23001445e+02],
       [8.80000000e+01, 9.90053850e+02, 7.00420076e+00, 1.03665930e+02],
       [8.90000000e+01, 8.77373072e+02, 3.70384309e+01, 1.39403148e+02],
       [9.00000000e+01, 7.02484084e+02, 1.79745576e+01, 5.87183689e+01],
       [9.10000000e+01, 8.09361155e+02, 4.05056697e+01, 1.73414464e+02],
       [9.20000000e+01, 9.13240553e+02, 2.55671199e+01, 1.00303259e+02],
       [9.30000000e+01, 7.98295179e+02, 3.24981965e+01, 1.40393375e+02],
       [9.40000000e+01, 7.95792669e+02, 4.45002671e+01, 6.75990314e+01],
       [9.50000000e+01, 3.75582953e+02, 4.69909699e+00, 1.15656028e+02],
       [9.60000000e+01, 3.59422738e+01, 2.32799009e+01, 1.08528927e+02],
       [9.70000000e+01, 2.86541252e+02, 2.95416630e+01, 6.10004999e+00],
       [9.80000000e+01, 3.73481887e+01, 4.11300280e+01, 7.20381283e+01],
       [9.90000000e+01, 1.27060513e+02, 2.61121630e+01, 1.53998711e+02],
       [1.00000000e+02, 2.15821027e+02, 3.11445238e+01, 1.70694930e+01]])

In [ ]:
totalspend = customer_data[:,1]
# totalspend
print('mean:',np.mean(totalspend))
print('median:',np.median(totalspend))
unique_val , occurance_val = np.unique(totalspend,return_counts=True)
# print(occurance_val)
max_occurance = np.max(occurance_val)
max_occurance_idx = np.where(occurance_val == max_occurance)[0][0]
mode = unique_val[max_occurance_idx]
print('mode: ',mode)

mean: 476.8492328495082
median: 472.7613722472995
mode:  5.522117123602399

In [ ]:
freq_of_purchase = customer_data[:,2]
print('mean: ',np.mean(freq_of_purchase))
print('median: ',np.median(freq_of_purchase))
unique_val , occurance_val = np.unique(freq_of_purchase,return_counts=True)
max_occurance = np.max(occurance_val)
max_occurance_idx = np.where(occurance_val == max_occurance)[0][0]
mode = unique_val[max_occurance_idx]
print('mode: ',mode)

mean:  25.623068502866545
median:  26.02584704495426
mode:  0.25307919231093434

In [ ]:
avg_spend = customer_data[:,3]
print('mean: ',np.mean(avg_spend))
print('median: ',np.median(avg_spend))
unique_val , occurance_val = np.unique(avg_spend,return_counts=True)
max_occurance = np.max(occurance_val)
max_occurance_idx = np.where(occurance_val == max_occurance)[0][0]
mode = unique_val[max_occurance_idx]
print('mode: ',mode)

mean:  99.26063887472752
median:  104.48244528100486
mode:  1.3904261062381407

**Movie Recommendations**


---


-> you have a dataset of user ratings for different movies.


1.   Load and preprocess the data.
2.   Calculate teh average rating for each movie.
3.   Identify teh top N movies by average rating.
4.   Calculate similarity between users based on their ratings.

In [ ]:
np.random.seed(42)
user_ids = np.random.randint(1,21,100)
movie_ids = np.random.randint(1,51,100)
ratings = np.random.randint(1,6,100)
ratings_data = np.column_stack((user_ids,movie_ids,ratings))
ratings_data

array([[ 7, 35,  2],
       [20, 44,  4],
       [15, 40,  3],
       [11, 22,  3],
       [ 8, 27,  1],
       [ 7, 35,  5],
       [19,  1,  4],
       [11, 35,  2],
       [11, 37,  3],
       [ 4, 47,  1],
       [ 8, 14,  1],
       [ 3,  3,  4],
       [ 2,  1,  3],
       [12,  5,  5],
       [ 6, 26,  3],
       [ 2, 14,  4],
       [ 1, 39,  4],
       [12, 27,  3],
       [12,  9,  4],
       [17, 15,  3],
       [10, 15,  2],
       [16, 26,  3],
       [15, 42,  3],
       [15, 13,  4],
       [19, 32,  4],
       [12, 39,  1],
       [20, 49,  1],
       [ 3, 32,  2],
       [ 5,  4,  1],
       [19, 30,  3],
       [ 7, 37,  4],
       [ 9, 23,  1],
       [ 7, 39,  1],
       [18, 45,  2],
       [ 4, 15,  2],
       [14, 43,  3],
       [18, 29,  4],
       [ 9, 36,  2],
       [ 2, 13,  1],
       [20, 32,  4],
       [15,  7,  4],
       [ 7, 22,  1],
       [12, 28,  2],
       [ 8,  2,  1],
       [15, 42,  4],
       [ 3, 45,  5],
       [14,  6,  5],
       [17, 28,  3],
       [ 4, 28,  1],
       [18, 44,  1],
       [ 8, 44,  3],
       [ 4, 20,  3],
       [ 2, 30,  3],
       [ 6, 11,  4],
       [10, 28,  1],
       [ 4, 25,  4],
       [18, 39,  3],
       [12, 33,  1],
       [ 2,  1,  4],
       [10, 27,  4],
       [ 4, 13,  3],
       [14, 41,  1],
       [16,  3,  3],
       [15, 39,  1],
       [ 8,  6,  5],
       [14,  8,  2],
       [ 8, 27,  2],
       [16,  9,  2],
       [13, 37,  3],
       [18, 33,  5],
       [15, 42,  1],
       [13, 44,  4],
       [ 9, 24,  1],
       [15, 15,  4],
       [13, 32,  1],
       [ 1, 32,  5],
       [ 7, 24,  4],
       [ 9, 41,  3],
       [ 1, 49,  1],
       [12, 49,  1],
       [ 8, 12,  4],
       [11, 39,  3],
       [19,  2,  3],
       [17,  3,  5],
       [ 8, 49,  3],
       [ 3, 37,  3],
       [ 3, 49,  3],
       [ 1, 17,  2],
       [ 5, 49,  5],
       [10,  2,  1],
       [ 7,  2,  4],
       [ 9, 28,  1],
       [ 7, 23,  5],
       [ 9, 37,  4],
       [ 8, 32,  5],
       [12, 33,  3],
       [ 2,  1,  4],
       [ 1, 19,  3],
       [16,  2,  1],
       [ 5, 44,  1]])

In [ ]:
d = {}
for movie_vals in ratings_data:
  if movie_vals[1] not in d:
    d[movie_vals[1]] = movie_vals[2]
  else :
    d[movie_vals[1]] = (d[movie_vals[1]] + movie_vals[2]) / 2
for i in d:
  print(i,' ',d[i])

35   2.75
44   2.1875
40   3
22   2.0
27   2.5
1   3.875
37   3.5625
47   1
14   2.5
3   4.25
5   5
26   3.0
39   2.34375
9   3.0
15   3.125
42   2.25
13   2.75
32   4.3125
49   3.75
4   1
30   3.0
23   3.0
45   3.5
43   3
29   4
36   2
7   4
28   1.1875
2   1.875
6   5.0
20   3
11   4
25   4
33   3.0
41   2.0
8   2
24   2.5
12   4
17   2
19   3

In [ ]:
# np.argsort(d,axis=-1,kind=None,order=None)
movie_id = list(d.keys())
# print(movie_id)
ratings = list(d.values())
# print(ratings)
sort_idx = np.argsort(ratings)
# print(sort_idx)
idx = -1
for i in range(5):
  print('movie_id:',movie_id[sort_idx[idx]],',','movie_raring:',ratings[sort_idx[idx]])
  sort_idx-=1

movie_id: 6 , movie_raring: 5.0
movie_id: 2 , movie_raring: 1.875
movie_id: 28 , movie_raring: 1.1875
movie_id: 7 , movie_raring: 4
movie_id: 36 , movie_raring: 2